/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



body {
    padding-bottom: 40px;
    color: #5a5a5a;

    font-family: Helvetica, Arial, sans-serif;
}

.sub-container {
    max-width:1200px;
    margin:0px auto;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

/*
.row {
    margin-right: -20px;
    margin-left: -20px;
}
*/

p {

}


nav {
    font-family: 'Montserrat', sans-serif;
    color:#a71680;

    margin-bottom:0px !important;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border:0px;

    /* border: 1px solid transparent; */
}

ul.nav {
    margin:25px 0;
    position:relative;
    left:20px;

}

.navbar-carousel {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 20;
    opacity:0.8;
}

.navbar-carousel_logged_out_home {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 20;
    opacity:0.8;
}

.navbar-carousel_logged_in_home {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 20;
    opacity:0.8;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a71680;
    background-color: transparent;
    font-weight:bold;
}

.navbar-default .navbar-nav>li>a {
    color: #a71680;
}


/*
.navbar {
    margin-bottom:0px;
    height:100px;
}

.navbar-wrapper .container-fluid, .taskbar .container-fluid {
    padding-right:0px;
    padding-left:0px;
}







.navbar-default .navbar-brand {
    color: #a71680;
}



.navbar-default .navbar-nav>li>a {
    color: #a71680;
    font-weight:bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #a71680;

    background-color: transparent;
    font-weight:bold;
}

*/

footer {
    margin:20px;
}

footer p {

    margin:0px auto;
    text-align:left;
}

footer strong {
    color:#a71680;
}




.callout_1, .carousel_static_caption, h2, .callout_2 {
    font-family: 'Slabo 27px', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}


/*
.callout_1, .callout_2 {
    min-height:359px;
}
*/

.callout_1 p {
    font-size: 31px;
    line-height: 37px;
    font-weight: normal;
    margin:auto;
    max-width: 600px;
    color:white;
    text-align:center;

}



div.callout_2 {
    background-color:#ededed;

    padding-top:30px;
    color: #a71680;
    font-size: 34px;
    line-height: 37px;
    font-weight: normal;
}





.contact_info {
    padding-top:30px;
    padding-bottom:20px;
    background-color:#4c1156;
    min-height:200px;
    color:white;
}


/*
.callout_1 div.sub-container, .callout_2 div.sub-container {
    margin:95px 0px 95px 0px;
}
*/

div.container-fluid.callout_1, div.container-fluid.callout_2 {
    padding:95px 0px 95px 0px;
}

.callout_2 .row.first{
    margin-bottom:40px;
}


.contact_info .row {
    margin:20px 0px 20px 0px;
}



.taskbar {
    height:40px;
    background-color:#4c1156;
    color:#ea5153;
    font-size:13px;
    /* font-family:helvetica, arial, sans-serif; */
}

.taskbar a, .taskbar a:visited {
    color:#ea5153;

    /* font-family:helvetica, arial, sans-serif; */
}

.taskbar a:hover {
    color:white;
    text-decoration:none;

    /* font-family:helvetica, arial, sans-serif; */
}


.taskbar p {
    margin:12px 0px 5px 0px;
}



.taskbar .row {

}

/*
.navbar-wrapper {
    margin-top:0px;
}
*/





/*
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
*/


/* Login Form
-------------------------------------------------- */
.login {
    margin-top:20px;
    margin-bottom:20px;
}

form#fuLoginForm, form#fuRegisterForm  {
    max-width:500px;
}

.member_form {
    margin-bottom:20px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    /* height: 649px; */
    margin-bottom: 0px;
    /* max-width:1200px; */
    margin-left:auto;
    margin-right:auto;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    padding-bottom: 90px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    /* height: 649px; */
    background-color: #777;
    margin-left:auto;
    margin-right:auto;
    min-height:250px;
}
.carousel-inner > .item > img {
/*
    position: absolute;
    top: 0;
    left: 0;
    */

    min-width: 100%;
    /* min-width:960px; */
    /* text-align:center; */
    /* max-width:960px; */
    /* height: 649px; */
    min-height:200px;
}


.carousel-caption p {

    font-family: 'Slabo 27px', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    max-width:400px;
    text-align:left;

    /* margin-bottom: 20px; */
    font-size: 38px;
    line-height:40px;

}






div.carousel_static_caption {
    display:none;
    position: absolute;
    top: 280px;
    z-index: 100;
   /* background-color: white; */

    /*
    left: 25px;
    width:350px;
    */

   /* font-family: helvetica, arial, sans-serif; */
    font-size: 38px;
    font-weight:normal;
    color:#a71680;
    line-height:40px;
    width:100%


}

.carousel_static_caption p {
    max-width:400px;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .8);
    padding:20px;
    border-radius: 10px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing h2 {
    font-weight: normal;
}

/*
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
*/


/* Featurettes
------------------------- */

div.featurette_button {
    margin-bottom:30px;
}

div.featurette img {
    float:right;
}

div.featurette.even img {
    float:left;
}

div.featurette {
    height:630px;
    overflow:hidden;
}

.featurette_centerer {
    height:630px;
}

.featurette_centered {
    display: inline-block;
    vertical-align: middle;
}





.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* letter-spacing: -1px; */
}


.featurette p {
    /* font-family: helvetica, arial, sans-serif; */
    font-size: 17px;
    font-weight:normal;
    max-width:450px;
}

h2.featurette-heading {
    font-size:36px;
    color:#a71680;
    max-width:500px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1201px)  {

    .featurette_centerer:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

}



@media (min-width: 1201px) and (max-width: 1400px) {

    div.carousel_static_caption {
        top: 200px;
    }

/*
    .sub-container {
       width:1200px;
    }
    */


}

@media (max-width: 1400px) {
    div.featurette {
        height:400px;
    }

    .featurette_centerer {
        height:400px;
    }

    div.featurette img {
        height:400px;
    }


    .carousel-caption {
        padding-bottom: 40px;
    }



}



@media (min-width: 1001px) and (max-width: 1200px)  {
    div.carousel_static_caption {
        top: 200px;
    }

    .sub-container {
        width:1000px;
    }

}

@media (min-width: 769px) and (max-width: 1000px) {

    div.carousel_static_caption {
        top: 200px;
    }

    div.featurette {
        height:auto;
    }

    .featurette_centerer {
        height:auto;
    }

    div.featurette img {
        height:300px;
    }

    .sub-container {
        width:769px;

    }

    .featurette p, .featurette h2 {
        max-width:300px;
    }
}

@media (max-width: 768px) {
    div.featurette {
        height:auto;
    }

    .featurette_centerer {
        height:auto;
    }

    div.featurette img {
        height:auto;
    }

    .featurette p {
        font-size:14px;
    }

    .featurette h2 {
        font-size:24px;
    }

    .callout_1 p {
        font-size: 26px;
        line-height: 30px;
        font-weight: normal;

    }

    .carousel_static_caption p {
        padding:10px;
    }

    .carousel-caption {
        padding-bottom: 30px;
    }

}

@media  (max-width: 900px) {

    div.carousel_static_caption {
        top: 180px;
        font-size: 24px;
        font-weight:normal;
        line-height:30px;

    }


    .carousel-caption p {
        font-size: 24px;
        line-height:30px;
    }

    .container-fluid {
       padding-left:20px;
        padding-right:20px;
    }

    .navbar-carousel_logged_out_home, .navbar-carousel_logged_in_home  {
        top:0px;
        position:static;
    }

}



@media (min-width: 521px) and (max-width: 768px) {
    div.carousel_static_caption {

        top: 180px;
        font-size: 24px;
        font-weight:normal;
        line-height:30px;

    }



    .sub-container {
        max-width:500px;
    }

    /*
    .navbar-wrapper {
        position: static;

        opacity:1;
    }
    */

}



@media (max-width: 520px) {

    div.carousel_static_caption {

        top: 140px;
        font-size: 18px;
        font-weight:normal;
        line-height:30px;
        max-width:300px;
        left:30px;

    }




    .sub-container {
        max-width:420px;
    }

/*
    .navbar-wrapper {
        position: static;

        opacity:1;
    }

    */

}



@media (min-width: 769px) {



    .contact_info p {
        color:white;
    }


    /*
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }


    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    */

    /* Bump up size of carousel content */


    /*
    .featurette-heading {
        font-size: 50px;
    }
    */
}









@media (min-width: 1500px) {


    .featurette.even h2, .featurette.even p, .featurette.even .featurette_button {
        margin-left:30px;
    }



}













