/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: 'Slabo 27px', serif;
}

p {

}

nav {
    font-family: 'Montserrat', sans-serif;
    color:#a71680;
}

.navbar-default .navbar-brand {
    color: #a71680;
}



.navbar-default .navbar-nav>li>a {
    color: #a71680;
    font-weight:bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #a71680;
    background-color: #e7e7e7;
    font-weight:bold;
}

footer {
    margin:20px;
}






/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.callout_1, .callout_2 {
    min-height:359px;
}



div.callout_2 {
    background-color:#ededed;
    font-family: helvetica, arial, sans-serif;
    padding-top:30px;
    color: #a71680;
}



.contact_info {
    background-color:#4c1156;
    min-height:200px;
    color:white;
}

.callout_1 p {
   color:white;
    text-align:center;
}

.callout_1 .row {
    margin:80px 0px 50px 0px;
}

.callout_2 .row {
    margin:50px 0px 0px 0px;
}

.contact_info .row {
    margin:20px 0px 20px 0px;
}



.taskbar {
    height:40px;
    background-color:#4c1156;
    color:#ea5153;
    font-size:13px;
    font-family:helvetica, arial, sans-serif;
}

.taskbar p {
    margin:12px 30px 5px 30px;
}



.taskbar .row {

}

.navbar-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top:0px;
    opacity:0.7;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-header {
    margin-left:30px !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 649px;
    margin-bottom: 0px;
    /* max-width:1200px; */
    margin-left:auto;
    margin-right:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 649px;
    background-color: #777;
    margin-left:auto;
    margin-right:auto;
}
.carousel-inner > .item > img {
/*
    position: absolute;
    top: 0;
    left: 0;
    */

    min-width: 100%;
    /* min-width:960px; */
    /* text-align:center; */
    /* max-width:960px; */
    height: 649px;
}


div.carousel_static_caption {
    position: absolute;
    top: 300px;
    z-index: 100;
    left: 25px;
    width:350px;
    font-family: helvetica, arial, sans-serif;
    font-size: 34px;
    font-weight:normal;
    color:#a71680;
    line-height:40px;



}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette .col-md-5 {
    padding-right:0px;
}

.featurette p {
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
    font-weight:normal;
}

h2.featurette-heading {
    font-size:36px;
    color:#a71680;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    /*
    .navbar-wrapper {
        margin-top: 20px;
    }
    */

    /*
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    */
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.navbar-wrapper .container-fluid, .taskbar .container-fluid {
    padding-right:0px;
    padding-left:0px;
}

.navbar {
    height:100px;
}

ul.nav {
    margin-top:25px;
    margin-right:15px;
}

@media (min-width: 768px) {
    .callout_1 .lead {
        font-size: 31px;
        line-height: 37px;
        font-weight: normal;
        margin:auto;
        max-width: 600px;

    }

    .callout_2 .lead {
        font-size: 31px;
        line-height: 37px;
        font-weight: normal;
        margin:auto;
        max-width: 600px;

    }

    .contact_info p {
        color:white;

    }

}



