/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



body {
    padding-bottom: 40px;
    /* color: #5a5a5a; */
    /* color: #878787; */
    color: #979797;

    /* font-family: Helvetica, Arial, sans-serif; */
    background:transparent;
}

h2 {
    font-size: 38px;
    line-height: 40px;
    color: #a71680;
}

a, a:link, a:visited {
    color: #a71680;
    text-decoration:none;
    font-weight:bold;
}

a.btn, a.btn:link, a.btn:visited {
    font-weight: normal;
}

.sub-container {
    max-width:1200px;
    margin:0px auto;
    padding-left: 2px;
    padding-right: 2px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;

}

div.dl_label {
     font-weight:normal;
     margin-top:20px;
 }

span.dl_label {
    font-weight:normal;
}

/*
.row {
    margin-right: -20px;
    margin-left: -20px;
}
*/

p {

}


nav {
    font-family: 'Montserrat', sans-serif;
    color:#a71680;

    margin-bottom:0px !important;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    position: absolute;
    top:0px;
    min-height: 50px;
    margin-bottom: 0px;
    border:0px;
    opacity:0.7;
    width: 100%;
    z-index: 20;

    /* border: 1px solid transparent; */
}

ul.nav {
    margin:25px 0;
    position:relative;
    left:20px;

}




.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}


.navbar_logged_in  {
    top: 40px;
    right: 0;
    left: 0;
    z-index: 20;
    /* opacity:0.8; */
}

.navbar_logged_out {
    top:0px;
}

.navbar_static {
    position:static;
}

.navbar-nav>li {
    font-weight:bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a71680;
    background-color: transparent;
    font-weight:bold;
}

.navbar-default .navbar-nav>li>a {
    color: #a71680;
}



footer {
    margin:20px;
}

footer p {

    margin:0px auto;
    text-align:left;
}

footer strong {
    color:#a71680;
}




.callout_1, .carousel_static_caption, h2, .callout_2, .featurette_callout, .modal-title {
    font-family: 'Slabo 27px', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}


/*
.callout_1, .callout_2 {
    min-height:359px;
}
*/

.callout_1 p {
    font-size: 31px;
    line-height: 37px;
    font-weight: normal;
    margin:auto;
    max-width: 600px;
    color:white;
    text-align:center;

}



div.callout_2, .featurette .callout_2 p {
    background-color:#ededed;

    padding-top:30px;
    color: #a71680;
    font-size: 34px;
    line-height: 37px;
    font-weight: normal;
}

.featurette .callout_2 p {
    padding-top:0px;
    background-color:transparent;
}

.contact .callout_2 {
    background-color:transparent;
}





.contact_info {
    padding-top:30px;
    padding-bottom:20px;
    background-color:#4c1156;
    min-height:200px;
    color:white;
}




div.container-fluid.callout_1, div.container-fluid.callout_2 {
    padding:95px 0px 95px 0px;
}

.callout_2 .row.first{
    margin-bottom:40px;
}


.contact_info .row {
    margin:20px 0px 20px 0px;
}



.taskbar {
    height:40px;
    background-color:#4c1156;
    color:#ea5153;
    font-size:13px;
    /* position: absolute; */
    z-index: 10;
    width: 100%;
}

.taskbar_static {
    position: static;
}

.taskbar_normal {
    position: absolute;
}


.taskbar a, .taskbar a:visited {
    color:#ea5153;

}

.taskbar a:hover {
    color:white;
    text-decoration:none;

}


.taskbar p {
    margin:12px 0px 5px 0px;
}



.taskbar .row {

}






/* Login Form
-------------------------------------------------- */
.login {
    margin-top:20px;
    margin-bottom:20px;
}

form#fuLoginForm, form#fuRegisterForm  {
    max-width:500px;
}

.member_form {
    margin-bottom:20px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    /* height: 649px; */
    margin-bottom: 0px;
    /* max-width:1200px; */
    margin-left:auto;
    margin-right:auto;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    padding-bottom: 90px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    /* height: 649px; */
    background-color: #777;
    margin-left:auto;
    margin-right:auto;
    min-height:250px;
}
.carousel-inner > .item > img {
/*
    position: absolute;
    top: 0;
    left: 0;
    */

    min-width: 100%;
    /* min-width:960px; */
    /* text-align:center; */
    /* max-width:960px; */
    /* height: 649px; */
    min-height:200px;
}


.carousel-caption p {

    font-family: 'Slabo 27px', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    max-width:400px;
    text-align:left;

    /* margin-bottom: 20px; */
    font-size: 38px;
    line-height:40px;
    color: #a71680;

}









/* MARKETING CONTENT
-------------------------------------------------- */


.marketing h2 {
    font-weight: normal;
}





/* Featurettes
------------------------- */

.featurettes.claims.last {
    margin-top:20px;
    margin-bottom:0px;
}

.featurettes.claims.last .featurette_right_content {
    margin-top:0px;
}

.featurette_right_content {
    /* max-width:400px; */
}

.featurette.even .featurette_right_content {
    margin-top:0px;
    margin-bottom:0px;
}


/* Products */

div.products_download {
    font-size:16px;
    padding-top:20px;
    padding-bottom:30px;
    border-top: 1px solid #dadada;


}

div.products_download.first {
    margin-top: 70px;
}

div.products_download.last {
    border-bottom: 1px solid #dadada;
}

div.products_download div.dl_title {
    margin-top: 5px;
}


.products_download img.large_icon {
    margin-right: 20px;
}


.featurettes.products {
    margin-top:100px;
}

.featurettes.products.last {
    margin-bottom:100px;
}

.products_header h2 {
    /* margin-top:50px; */
}

.featurettes.products .product_download {
    margin-left:30px;
}

div.featurette .product_download img, div.featurette .claims_download img, div.featurette .products_download img, div.featurette .claims_example_grid img {
    float:none;
}







div.featurette .product_download div {
    border-bottom: 1px solid #f8f8f8;
}

div.featurette .product_download.first div {
    border-top: 1px solid #f8f8f8;
}



.featurettes.contact {
    margin-top:100px;
}

div.featurette_button {
    margin-bottom:30px;
}

div.featurette img {
    float:left;
}


div.featurette.member_area img {
    float:none;
}



div.featurette.even, div.featurette.grey {
    background-color:#f8f8f8;
}

div.featurette.even img {
    float:left;
}



/*
div.featurette {
    height:630px;
    overflow:hidden;
}
*/

.featurette_centerer {
    height:630px;
}



.products .featurette_centerer {
    /* max-height: 500px; */
}

.products_header .featurette_centerer {
    /* max-height: 500px; */
}

.featurette_centered {
    display: inline-block;
    vertical-align: middle;
}





.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* letter-spacing: -1px; */
}


.featurette p, .featurette li {
    font-size: 16px;
    font-weight:normal;
    max-width:450px;
    /* line-height:19px; */
}

.featurette_callout p {
    font-size: 31px;
    line-height: 37px;
    font-weight: normal;
    /*margin:auto; */
    /* max-width: 600px; */
    color:white;
    text-align:center;
    color:#a71680;
    /*margin-top:170px; */
    margin-top:20px;
    margin-bottom:20px;
}


h2.featurette-heading {
    font-size:36px;
    color:#a71680;
    max-width:400px;
}

h2.featurette-heading-big {
    font-size: 38px;
    line-height: 40px;
}




/* Claims */

.claims .featurette_centerer {
    max-height: 500px;
}

.claims_example_grid  {
    color: #a71680;
    /* font-weight:bold; */
    max-width: 450px;

}

.claims_example_grid tr {
    border-top:1px solid #a71680;
}

.claims_example_grid tr td:last-child {
   text-align:right;
   font-weight:bold;
}

.claims_example_grid tr td:first-child {
    font-weight:normal;
}

.claims_example_grid td {
    padding-top:3px;
    padding-bottom:3px;
}

.claims_example_grid p {
    font-size:14px;
    line-height: 15px;
    margin-top:10px;
}

.claims_example_grid h3 {
    font-size:17px;
    font-weight:normal;
}


.claims_bg {
    position: absolute;
    top: 0px;
    /* min-height: 569px; */
    background-repeat: no-repeat !important;
    /* background-position: right top !important; */
    background-position: 50% 0% !important;
    z-index: 0;
    width: 100%;
    background-size: 50% !important;
    height:500px;
}



div.claims_download {
    font-size:16px;
    padding-top:20px;
    padding-bottom:30px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

}

div.claims_download div.dl_title {
    margin-top: 5px;
}


.claims_download img.large_icon {
    margin-right: 20px;
}




/* MEMEBER AREA */

.member_downloads.grey {
    background-color: #f8f8f8;
}


.member_downloads div.form_grid {
    height:85px;
}



.member_downloads div.form_grid .form_grid_item {
    position: relative;
    top: 25px;
    font-weight:bold;
    color:#a71680;
}

.member_downloads .form_grid_container {
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 0px;

    border-top: 1px solid #dadada;
    /*border-bottom: 1px solid #f8f8f8;*/
    clear:both;
}


.member_downloads .form_grid_container.first {
    border-width:0px;
}





.member_downloads h2 {
    margin-top:50px;
}

div.member_downloads {
    margin-bottom:20px;
}


/* loginModal */

#loginModal #continue_button {
    /* display:none; */
}

#loginModal #continue_button.btn-success:hover,
#loginModal #continue_button.btn-success:focus,
#loginModal #continue_button.btn-success:active,
#loginModal #continue_button.btn-success.active {
    background-color: transparent;
    border-color: white;
}

#loginModal .modal-content {
    color:white;
    min-height:300px;
    padding:20px;
}

#loginModal .instructions {
    margin-bottom:20px;

}

#loginModal .modal-footer {
    text-align: left;
    margin-top: 10px;

}



#loginModal #messages.alert-success {
    font-size: 24px;
    border:0px;
}

#fuRegisterForm {
    display:none;
}

#footer_message.fm2 {
    display:none;
}






#loginModal .modal-content a, #loginModal .modal-content a:link, #loginModal .modal-content a:visited {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.modal_message_area {
    padding:20px;
    text-align: center;
    display:none;
}

.modal-header, .modal-footer {
    border: 0px;
}

.modal-header {
    padding-bottom: 0px;
}

.modal-footer {
    padding-top: 0px;
}

.modal-title {
    font-size:32px;
}

.modal-content .alert-success, .modal-content .btn-success, .modal-content .alert-danger {
    background-color:transparent;
    color:white;
    border-color:white;
    font-weight:bold;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1000px)  {

    .featurette_centerer:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .products .featurette_centerer {
        max-height: 500px;
    }

}


@media (min-width: 1040px) {
    .sub-container {
        width:1020px;
    }
}

@media (min-width: 1240px) {
    .sub-container {
        width:1200px;
    }

    .carousel-inner > .item > img {
        min-height:739px;
        min-width:1920px;
    }
}


@media (min-width: 1200px)
{

    div [class*='col-'] {
        padding-left:12px;
        padding-right:12px;
        /*max-width:75px;*/
    }
}




@media (max-width: 1400px) {
    div.featurette {
        /* height:400px; */
    }

    .featurette_centerer {
        /* height:auto; */
        /* height:400px; */
    }

    div.featurette img {
       /*  height:400px; */
    }


    .carousel-caption {
        padding-bottom: 40px;
    }

    .claims.first .featurette_centerer{
        max-height:400px;
    }


}

@media (max-width: 1000px) {
    .taskbar {
        position:static;
    }

    .navbar {
        position:static;
    }
}









@media (min-width: 769px) and (max-width: 1000px) {

    div.carousel_static_caption {
        top: 200px;
    }

    div.featurette {
        height:auto;
    }

    .featurette_centerer {
        height:auto;
        margin-top:20px;
    }

    div.featurette img {
        max-height:400px;
    }

    .sub-container {
        width:769px;

    }

    .featurette p, .featurette h2 {
        max-width:300px;
    }
}

@media (max-width: 768px) {


    div.featurette {
        height:auto;
    }

    .featurette_centerer {
        height:auto;
    }

    div.featurette img {
        height:auto;
    }

    .featurette p , .featurette li {
        font-size:14px;
    }

    .featurette h2 {
        font-size:24px;
    }

    .callout_1 p, .featurette_callout p {
        font-size: 26px;
        line-height: 30px;
        font-weight: normal;

    }

    .carousel_static_caption p {
        padding:10px;
    }

    .carousel-caption {
        padding-bottom: 30px;
    }

}


@media  (max-width: 1000px) {

    .navbar {
        position: static;
    }

    .taskbar {
        position: static;
    }

    .claims_bg {
       display:none !important;
    }

}

@media  (max-width: 900px) {

    div.carousel_static_caption {
        top: 180px;
        font-size: 24px;
        font-weight:normal;
        line-height:30px;

    }


    .carousel-caption p {
        font-size: 24px;
        line-height:30px;
    }

    .container-fluid {
       padding-left:20px;
        padding-right:20px;
    }

    .navbar-carousel_logged_out_home, .navbar-carousel_logged_in_home  {
        top:0px;
        position:static;
    }

}



@media (min-width: 521px) and (max-width: 768px) {
    div.carousel_static_caption {

        top: 180px;
        font-size: 24px;
        font-weight:normal;
        line-height:30px;

    }



    .sub-container {
        max-width:500px;
    }



}



@media (max-width: 520px) {

    div.carousel_static_caption {

        top: 140px;
        font-size: 18px;
        font-weight:normal;
        line-height:30px;
        max-width:300px;
        left:30px;

    }



    .sub-container {
        max-width:420px;
    }


}



@media (min-width: 769px) {

    .contact_info p {
        color: white;
    }
}







@media (min-width: 1500px) {

    .featurette.even h2, .featurette.even p, .featurette.even .featurette_button, .featurette_right_content {
        margin-left: 30px;
    }

    .featurette_right_content {
        margin-top: 50px;
    }


}

@media screen and (min-width: 300px) {
    .carousel-caption {
        right: 0;
        left: 30px;
        /* padding-bottom: 30px; */
    }

}

















